html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--silver);
	overflow-x: hidden;
}

:root {
	--green: #62b946;
	--yellow: #fbb826;
	--orange: #f6821f;
	--red: #e13a3e;
	--purple: #963d96;
	--blue: #009edc;
	--dark-gray: #666762;
	--silver: #cacfd3;
	--light-beige: #a19f90;
	--dark-beige: #969485;
}

@font-face {
	font-family: "Apple Garamond";
	font-style: normal;
	font-weight: 500;
	src: local("fonts/Apple-Garamond.ttf")
}

h1 {
	font-size: 5.5em;
	letter-spacing: 4px;
}

i {
	font-size: 2em;
}

.credit {
	color: var(--light-beige);
	font-size: 1.2em;
}